<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div class="col-5" id="blocoCConta" th:fragment="conta">
  <div class="card c-extrato">
    <div class="d-flex align-items-center highlight-toolbar bg-light ps-3 pe-2 py-2 mb-2">
      <small class="font-monospace text-muted text-uppercase">Ordem de Pagamento - AOF <span
              id="nm-AOF">2022/1234567</span></small>
      <div class="d-flex ms-auto">
        <a type="button" class="btn btn-sm btn-rounded btn-clipboard"
           href="/"><i
                class="bi bi-arrow-return-left" data-bs-toggle="" data-bs-target="#"
                id="Botãovoltar">
          voltar</i></a>
      </div>
    </div>
    <div class="card-body form-group row gx-2 gy-3">
      <div class="row">
        <div class="form-floating col-4">
          <input type="text" class="form-control form-control-sm" name="nm_GSV" value="12345678"
                 autocomplete="off" disabled="">
          <label for="floatingPlaintextInput">GSV</label>
        </div>
        <div class="form-floating col-4">
          <input type="text" class="form-control form-control-sm" name="nm_AOF"
                 value="TRIBUNAL DE JUSTIÇA / BA" autocomplete="off" disabled="">
          <label for="floatingPlaintextInput">Tribunal / UF</label>
        </div>
        <div class="form-floating col-4">
          <input type="text" class="form-control form-control-sm" name="nm_AOF"
                 value="BAIANÓPOLIS"
                 autocomplete="off" disabled="">
          <label for="floatingPlaintextInput">Comarca </label>
        </div>
        <div class="form-floating col-4">
          <input type="text" class="form-control form-control-sm" name="nm_AOF"
                 value="VARA ÚNICA -PLENA" autocomplete="off" disabled="">
          <label for="floatingPlaintextInput">Órgão / Deprecante</label>
        </div>
        <div class="form-floating col-4">
          <input type="text" class="form-control form-control-sm" name="nm_AOF"
                 value="PRECATÓRIO FEDERAL" autocomplete="off" disabled="">
          <label for="floatingPlaintextInput">Esfera </label>
        </div>
        <div class="form-floating col-4">
          <input type="text" class="form-control form-control-sm" name="nm_AOF"
                 value="0000800095478932145" autocomplete="off" disabled="">
          <label for="floatingPlaintextInput">Processo / Ação Originaria</label>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>